
body {
    margin: 50px;
}

.grid {
    text-align: center;
    display: grid;
    grid-template-columns: 58px 264px 65px;
    font-size: 0;
}

.board {
    width: 264px;
}

.score {
    height: 132px;
}